

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="/">
                   Social Sac
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="https://bit.ly/3fKQZaL">Social Sac</a> 
                      - coded by <a target="_blank" rel="noopener noreferrer" href="https://github.com">?</a>
          </div>
        </div>
    </footer>
