

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="/">
                   Social Sac
                </a>
              </li>

            </ul>
          </nav>
          
          <div class="copyright float-right">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="/">Social Sac, 2021 </a> 
          </div>
          
        </div>
    </footer>
