    <div class="sidebar" data-color="white" data-background-color="black" data-image="/static/assets/img/dt-sac.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
           href="/index.html" class="simple-text logo-normal">
          Social Sac
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Main Dashboard</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/shelter.html">
              <i class="material-icons">house</i>
              <p>Shelter</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/food.html">
              <i class="material-icons">food_bank</i>
              <p>Food</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-maps.html">
              <i class="material-icons">location_ons</i>
              <p>Maps</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">
            <a class="nav-link" href="/covid-info.html">
              <i class="material-icons">medical_services</i>
              <p>COVID-19</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
