{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">content_copy</i>
            </div>
            <p class="card-category">Refrigerators</p>
            <h3 class="card-title">{{ num_freedges_available }}/{{ num_freedges }}
              <!-- <small>GB</small> -->
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i>
              <a href="#pablo">Updated today at </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category">Open Shelters</p>
            <h3 class="card-title">{{ num_shelters_available }}/{{ num_shelters }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">update</i> Updated today
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">cloud_queue</i>
            </div>
            <p class="card-category">Bad Weather Alert</p>
            <h3 class="card-title"> {{ weather_current }}</h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> Last 24 Hours
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-primary card-header-icon">
            <div class="card-icon">
              <i class="material-icons">medical_services</i>
            </div>
            <p class="card-category">Covid Information</p>
            <a class="card-title" href="https://www.projectbaseline.com/studies/covid-19/eligibility/""> Check eligibility for C19 screening</a>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">medical_services</i> Tracked from Project Baseline
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      
      <div class="col-md-4">
        <div class="card card-chart">
          <div class="card-header card-header-info">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Weather</h4>
            <p class="card-category">
              <span class="text-info"><i class="fa fa-long-arrow-down"></i> {{ weather_current }} degrees</span> currently.</p>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated 4 minutes ago
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="card card-chart">
          <div class="card-header card-header-icon">
            <div class="ct-chart" id="dailySalesChart"></div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Warming Shelters</h4>
            <p class="card-category">
              <span class="text-icon"><i class="fa fa-home"></i> Warming</span> shelters around Sacramento and Davis.
            </p>
            <div>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Availability</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Date Updated</th>
                  </tr>
                </thead>
                <tbody>
                  {% for record in Shelter %}
                  <tr>
                    <td>{{ record.name }}</td>
                    <td>{{ record.address }}</td>
                    <td>{{ record.availability }}</td>
                    <td>{{ record.phone }}</td>
                    <td>{{ record.email }}</td>
                    <td>{{ record.date_updated }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
                </table>
            </div>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">access_time</i> updated 4 minutes ago
            </div>
          </div>
        </div>
      </div>

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
